# SQL Server Docker
SA_PASSWORD=YourStrong!Passw0rd
SQL_DATABASE=TiendaEMMAX

# Backend
ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__cadenaSQL=Server=sqlserver;Database=TiendaEMMAX;User Id=sa;Password=YourStrong!Passw0rd;Encrypt=False;TrustServerCertificate=True;

# Frontend (si aplica en un futuro para environment.ts)
API_URL=http://localhost:5230/graphql
